<script type="text/javascript">
function do_OK(json, $form) {
    console.log(json)
    console.log($form)
}
</script>
<div class="bjui-pageContent">
    <form action="<?php echo U('Project/audit')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="pro_id" value="<?php echo $pro_id?>">
        <input type="hidden" name="pro_step" value="<?php echo $pro_step?>">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="j_custom_name" class="control-label x85">项目名称：</label>
                        <input type="text" name="" id="p_name" value="<?php echo $pro_title?>" size="15" readonly>
                    </td>
                    <td>
                        <label for="j_custom_sale" class="control-label x85">项目编号：</label>
                        <input type="text" name="" id="p_name" value="<?php echo $pro_no?>" size="15" readonly>
<!--                        <select name="pro_status" id="p_status" data-toggle="selectpicker" data-rule="required">
                            <option value="1">项目提交</option>
                        </select>-->
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pro_account" class="control-label x85">融资金额：</label>
                        <input type="text" name="pro_account" id="p_account" value="<?php echo $pro_account?>" size="15" readonly>
                    </td>
                    <td>
                        </td>
                    <td>
                        
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="gt_uid" class="control-label x85">跟进人：</label>
                        <input type="hidden" name="gt_uid" value="<?php echo $gt_uid?>">
                        <input type="text" name="user_name" id="p_user" value="<?php echo $user['user_name']?>" size="15" readonly>
                    </td>
                    <td>
                        <label for="company_id" class="control-label x85">公司：</label>
                        <input type="hidden" name="company_id" value='<?php echo $company_id?>'>
                        <input type="text" name="company" id="p_company" value="<?php echo $company['company_name']?>" size="15" readonly>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="pro_desc" class="control-label x85">项目简介：</label>
                        <textarea name="pro_desc" id="j_custom_note_1" data-toggle="autoheight" cols="60" rows="1" readonly><?php echo $pro_desc?></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label for="j_custom_content" class="control-label x85">内容编辑：</label>
                        <textarea name="pro_content" id="j_form_content" class="j-content" style="width: 700px;" data-toggle="autoheight" data-minheight="200" readonly>
                            <?php echo $pro_content?>
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <h4>审核流程</h4>
    <table class="table table-bordered table-striped table-hover" width="100%">
        <thead>
            <tr>
                <th align="center" width="300">操作人</th>
                <th align="center" width="300">提交时间</th>
                <th align="center" width="300">类型</th>
                <th align="center" width="300">结果</th>
                <th align="center" width="300">意见</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($process_list as $v){?>
            <tr data-id="<?php echo $v['pro_id']?>">
                <td align="center"><?php echo $v['admin_id']?></td>
                <td align="center"><?php echo date('Y-m-d H:i:s', $v['addtime'])?></td>
                <td align="center"><?php echo $v['addtime']?></td>
                <td align="center"><?php echo $v['status']==1?'通过':'未通过'?></td>
                <td align="center"><?php echo $v['opinion']?></td>
             </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
    </ul>
</div>